@charset "UTF-8";
/* common */
body,html,a,img,div,form,select,input,ul,ol,ul,li,h1,h2,h3,h4,h5,h6,dd,dl,dt,p,label,em,span{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.cf{*zoom:1;}
.cf:after{content:".";visibility:hidden;clear:both;height:0;width:100%;display:block;}
body{font-size:12px;font-family:'Microsoft YaHei', sans-serif;background: url(/static/web/images/pattern.png) #FFF4D4 repeat 0 0;color: #333;}
a{color:inherit;*color:#666;text-decoration:none;}
a:hover{text-decoration:underline;color:#339999;}
em,i{font-style:normal;}
img{border:none;}

/* header */
#header{height:50px;background:#fff;-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;-moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;-ms-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;-o-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;}
.h-wrap{width: 90%;max-width: 1200px;min-width: 960px;margin:0 auto;overflow:hidden;line-height: 50px;font-size: 18px;}
.h-wrap img{float:left;}
.nav{float:right;overflow:hidden;list-style:none;}
.nav li{float:left;margin-left: 15px;}
.nav a:hover{text-decoration: none;}

/* aside */
.m-aside{float:right;width:340px;}
.wedge{background: #fff;margin-bottom: 20px;overflow: hidden;-webkit-border-top-left-radius: 5px;-moz-border-top-left-radius: 5px;-ms-border-top-left-radius: 5px;-o-border-top-left-radius: 5px;border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-top-right-radius: 5px;-ms-border-top-right-radius: 5px;-o-border-top-right-radius: 5px;border-top-right-radius: 5px;-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;-moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;-ms-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;-o-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;}
.wed-title{font-size: 16px;line-height: 36px;color: #51585c;background: #F5F5F5;padding-left: 10px;-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;-moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;-ms-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;-o-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 1px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 1px 0px;}
.weibo .wed-cont{height:90px;padding-top: 2px;}
.wed-art-list .wed-cont{font-size: 15px;line-height: 23px;padding: 10px 0;color: #339999;}
.wed-art-list ul, .wed-art-list li{list-style: disc inside none;}
.wed-art-list ul{margin-left: 15px;}
.tags .wed-cont{line-height: 30px;font-size: 15px;padding: 10px 15px;}
.tags .wed-cont span{background: #339999;padding: 3px 8px;margin-right: 7px;border-radius: 3px;color: #fff;}

/* footer */
#footer{margin-top:30px;padding-bottom:30px;font-size:14px;color:#838383;text-align:center;}