article{
    background: url(/static/web/images/pattern.png) repeat 0 0;
}

.img-wraper{
    width: 330px;
    padding: 10px;
    background: #fff;
    vertical-align: top;
}

section{
    width: 380px;
    padding-left: 35px;
    text-align: left;
}

.content h1{
    color: #222;
    font-size: 24px;
    opacity: .75;
    padding-bottom: 10px;
}

.content footer{
    background: url(/static/web/images/divider-dashed.png) repeat-x 0 0;
}

.time, .comment{
    line-height: 35px;
    font-size: 13px;
    padding-left: 20px;
}

.time{
    background: url(/static/web/images/icon-time.png) no-repeat 0 8px;
}

.comment{
    background: url(/static/web/images/icon-comments.png) no-repeat 0 8px;
    margin-left: 10px;
}

.post{
    background: url(/static/web/images/divider-dashed.png) repeat-x 0 0;
    padding-top: 12px;
    font-size: 14px;
}

p{
    line-height: 20px;
    font-size: 16px;
}