@media all and (max-width: 960px){
    #wraper{
        position: relative;
        width: 768px;
        margin: 0 auto;
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
           -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
            -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
             -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
                box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    }

    header[role="banner"] {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    
    #header-top {
        position: absolute;
        width: 100%;
        height: 193px;
        top: 0;
        left: 0;
        margin-left: 0;
        background: url(/static/web/images/header-tablet.png) no-repeat 0 0;
        text-align: left;
    }

    #logo{
        width: 286px;
        height: 82px;
        margin: 66px 0 0 38px;
        display: inline-block;
    }

    #logo a{
        padding-top: 82px;
    }

    #header-top nav{
        display: inline-block;
    }

    #nav-github, #nav-weibo{
        display: block;
        margin-left: 22px;
    }

    #nav-github{
        margin-top: -100px;
    }

    #nav-weibo{
        margin-top: 18px;
    }
    
    #header-bottom {
        display: none;
    }

    article:first-of-type {
        padding-top: 193px;
    }
    
    article:first-of-type .divider-top {
        display: none;
    }
    
    article .inner, footer .inner {
        width: 94.7916667%;
        margin: 0 auto;
        padding: 20px 2.6041667%;
        text-align: left;
        overflow: hidden;
    }

    section{
        width: 355px;
    }

}

@media all and (max-width: 783px){
    #wraper{
        width: 600px;
    }
    .img-wraper{
        width: 100%;
        margin-bottom: 20px;
    }

    section{
        width: 100%;
        padding-left: 0;
    }
}

@media all and (max-width: 616px){
    #wraper{
        width: 100%;
    }
}