<header role="banner">
    <div id="header-top">
        <div id="logo">
            <a href="#">mai dou</a>
        </div>
        <nav>
            <ul>
                <li class="inline-block"  id="nav-github">
                    <a href="#">
                        <div></div>
                    </a>
                </li>
                <li class="inline-block" id="nav-weibo">
                    <a href="#">
                        <div></div>
                    </a>
                </li>
                <li class="item {{ publish }}"  id="nav-publish">
                    <a href="/admin/publish/">发布文章</a>
                </li>
                <li class="item {{ myArticle }}" id="nav-myArticle">
                    <a href="/admin/my-article/">我的文章</a>
                </li>
                <li class="item {{ draft }}" id="nav-draft">
                    <a href="/admin/draft/">草稿箱</a>
                </li>
                <li class="item {{ delete }}" id="nav-delete">
                    <a href="#">修改密码</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="header-bottom">&nbsp;</div>
</header>