<header role="banner">
    <div id="header-top">
        <div id="logo">
            <a href="#">mai dou</a>
        </div>
        <nav>
            <ul>
                <li class="inline-block"  id="nav-github">
                    <a href="#">
                        <div></div>
                    </a>
                </li>
                <li class="inline-block" id="nav-weibo">
                    <a href="#">
                        <div></div>
                    </a>
                </li>
                <li class="item item-hover"  id="nav-publish">
                    <a href="#">发布文章</a>
                </li>
                <li class="item" id="nav-draft">
                    <a href="#">草稿箱</a>
                </li>
                <li class="item" id="nav-delete">
                    <a href="#">已删除文章</a>
                </li>
                <li class="item" id="nav-myArticles">
                    <a href="#">我的文章</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="header-bottom">&nbsp;</div>
</header>