<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/web/css/common.css">
    <link rel="stylesheet" href="/static/web/css/article.css">
    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">  
    <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script> 
</head>
<body>
    {% include 'web/header.html' %}
    <div id="main">
        {% include 'web/aside.html' %}
        <div class="m-wrap">
            <h2 class="art-title">hello world hello world hello world hello world</h2>
            <div class="article">
                <div class="art-attr">
                    <span class="art-comts">345</span>
                    <span class="art-views">1234</span>
                    <span class="art-date">2014-07-25</span>
                </div>
                <p>On Sunday I followed Joshua around on his shoot with Adam. I took a bunch of behind the scenes photos of Joshua being a pro, which you will see… eventually. Afterwards I got a glimpse into how Joshua edits his photos, which is an interesting insight. I should watch other photographer’s process more often.</p>
                <div class="cf art-imgs">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                
            </div>

        </div>
    </div>
    {% include 'web/footer.html' %}
</body>
</html>