<footer id="footer">
    <div class="divider-top">&nbsp;</div>
    <div class="inner">
        <nav>
            <a href="#">
                <span>Archive</span>
            </a>
            |
            <a href="#">
                <span>About</span>
            </a>
            |
            <a href="#">
                <span>Contact</span>
            </a>
            |
            <a href="#">
                <span>RSS Feed</span>
            </a>
            <p>© 2014 Ashley Baxter. All Rights Reserved.</p>
        </nav>
    </div>
</footer>