<header role="banner">
    <div id="header-top">
        <div id="logo">
            <a href="#">mai dou</a>
        </div>
        <nav>
            <ul>
                <li class="inline-block"  id="nav-github">
                    <a href="#">
                        <div></div>
                    </a>
                </li>
                <li class="nav-weibo inline-block" id="nav-weibo">
                    <a href="#">
                        <div></div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="header-bottom">&nbsp;</div>
</header>