<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/web/css/index.css">
    <link rel="stylesheet" href="/static/web/css/mobile_device.css">
</head>
<body>
    <div id="wraper">
        <article class="content yellow">
            <div class="divider-top">&nbsp;</div>
            <div class="inner">
                <div class="img-wraper inline-block">
                    <img src="/static/web/images/1.jpg" alt="" width="100%" height="100%">
                </div>
                <section class="inline-block">
                    <header>
                        <h1>
                            <a href="#">hello world</a>
                        </h1>
                    </header>
                    <footer>
                        <div class="time inline-block">March 25, 2014</div>
                        <div class="comment inline-block">1条评论</div>
                    </footer>
                    <div class="post">
                        <p>
                            On Sunday I followed Joshua around on his shoot with Adam. I took a bunch of behind the scenes photos of Joshua being a pro, which you will see… eventually. Afterwards I got a glimpse into how Joshua edits his photos, which is an interesting insight. I should watch other photographer’s process more often.
                        </p>
                    </div>
                </section>
            </div>
            <div class="divider-bottom">&nbsp;</div>
        </article>
        <article class="content brown">
            <div class="divider-top">&nbsp;</div>
            <div class="inner">
                <div class="img-wraper inline-block">
                    <img src="/static/web/images/1.jpg" alt="" width="100%" height="100%">
                </div>
                <section class="inline-block">
                    <header>
                        <h1>
                            <a href="#">hello world hello world hello world hello world</a>
                        </h1>
                    </header>
                    <footer>
                        <div class="time inline-block">March 25, 2014</div>
                        <div class="comment inline-block">1条评论</div>
                    </footer>
                    <div class="post">
                        <p>
                            On Sunday I followed Joshua around on his shoot with Adam. I took a bunch of behind the scenes photos of Joshua being a pro, which you will see… eventually. Afterwards I got a glimpse into how Joshua edits his photos, which is an interesting insight. I should watch other photographer’s process more often.
                        </p>
                    </div>
                </section>
            </div>
            <div class="divider-bottom">&nbsp;</div>
        </article>
        <footer id="footer">
            <div class="divider-top">&nbsp;</div>
            <div class="inner">
                <nav>
                    <a href="#">
                        <span>Archive</span>
                    </a> |
                    <a href="#">
                        <span>About</span>
                    </a> |
                    <a href="#">
                        <span>Contact</span>
                    </a> |
                    <a href="#">
                        <span>RSS Feed</span>
                    </a>
                    <p>© 2014 Ashley Baxter. All Rights Reserved.</p>
                </nav>
            </div>
        </footer>
        <header role="banner">
            <div id="header-top">
                <div id="logo">
                    <a href="#">mai dou</a>
                </div>
                <nav>
                   <ul>
                        <li class="inline-block"  id="nav-github">
                            <a href="#"><div></div></a>
                        </li>
                        <li class="nav-weibo inline-block" id="nav-weibo">
                            <a href="#"><div></div></a>
                        </li>
                    </ul> 
                </nav>
                
            </div>
            <div id="header-bottom">&nbsp;</div>
        </header>
    </div>
    
</body>
</html>