<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/web/css/index.css">
</head>
<body>
    <div id="wraper">
        <article class="content">
            <div class="img-wraper">
                <img src="/static/web/images/1.jpg" alt="" width="100%" height="100%">
            </div>
            <section>
                <header>
                    <h1>
                        <a href="#">hello world</a>
                    </h1>
                </header>
                <footer>
                    <div class="time">March 25, 2014</div>
                    <div class="comment">1条评论</div>
                </footer>
                <div class="post">
                    <p>
                        On Sunday I followed Joshua around on his shoot with Adam. I took a bunch of behind the scenes photos of Joshua being a pro, which you will see… eventually. Afterwards I got a glimpse into how Joshua edits his photos, which is an interesting insight. I should watch other photographer’s process more often.
                    </p>
                </div>
            </section>
        </article>
    </div>
    
</body>
</html>