<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
    <link rel="stylesheet" href="/static/web/css/common.css">
    <link rel="stylesheet" href="/static/web/css/index.css">
    <link rel="stylesheet" href="/static/web/css/my_article.css">
</head>
<body>
    <div id="wraper">
        <div id="title">
            <div class="search-wrap">
                <input type="text" placeholder="标题，标签，ID" id="keyword">
                <div class="inline-block" id="submit-search">搜索</div>
            </div>
            <h3>我的博客</h3>
        </div>
        <hr>
        <article class="content">
            <div class="divider-top">&nbsp;</div>
            <div class="inner">
                <section class="">
                    <header>
                        <h1>
                            <a href="#">hello world</a>
                        </h1>
                    </header>
                    <footer>
                        <div class="time option inline-block">March 25, 2014</div>
                        <div class="comment option inline-block">1条评论</div>
                        <div class="view option inline-block">1次浏览</div>
                    </footer>
                    <div class="options">
                        <div class="top-most option inline-block">置顶</div>
                        <div class="to-draft option inline-block">移至草稿箱</div>
                    </div>
                </section>
            </div>
            <div class="divider-bottom">&nbsp;</div>
        </article>
        <article class="content">
            <div class="divider-top">&nbsp;</div>
            <div class="inner">
                <section class="">
                    <header>
                        <h1>
                            <a href="#">hello world</a>
                        </h1>
                    </header>
                    <footer>
                        <div class="time option inline-block">March 25, 2014</div>
                        <div class="comment option inline-block">1条评论</div>
                        <div class="view option inline-block">1次浏览</div>
                    </footer>
                    <div class="options">
                        <div class="top-most option inline-block">置顶</div>
                        <div class="to-draft option inline-block">移至草稿箱</div>
                    </div>
                </section>
            </div>
            <div class="divider-bottom">&nbsp;</div>
        </article>
        <article class="content">
            <div class="divider-top">&nbsp;</div>
            <div class="inner">
                <section class="">
                    <header>
                        <h1>
                            <a href="#">hello world</a>
                        </h1>
                    </header>
                    <footer>
                        <div class="time option inline-block">March 25, 2014</div>
                        <div class="comment option inline-block">1条评论</div>
                        <div class="view option inline-block">1次浏览</div>
                    </footer>
                    <div class="options">
                        <div class="top-most option inline-block">置顶</div>
                        <div class="to-draft option inline-block">移至草稿箱</div>
                    </div>
                </section>
            </div>
            <div class="divider-bottom">&nbsp;</div>
        </article>
        <article class="content">
            <div class="divider-top">&nbsp;</div>
            <div class="inner">
                <section class="">
                    <a href="#">
                        <div class="page left inline-block"></div>
                    </a>
                    <a href="#">
                       <div class="page right inline-block"></div>
                    </a>
                    
                    
                </section>
            </div>
            <div class="divider-bottom">&nbsp;</div>
        </article>
        {% include 'web/footer.html' %}
        {% include 'web/admin-header.html' %}
    </div>
</body>
</html>