<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>重置密码</title>
    <link rel="stylesheet" href="/static/web/css/reset_password.css">
</head>
<body>
	<div class="header">
        <img src="/static/web/images/logo.png" alt="logo">
    </div>
    <div class="main">
    	<div class="login_title">
            <div>重置密码</div>
            <hr/>
        </div>
        {% if is_valid %}
            <div id="login_form">
                <form action="" method="POST">
                    <div class="input_wrap">
                        <label for="email">邮箱<span>*</span></label>
                        <input type="text" name="email" id="email"/>
                        <span class="error"></span>
                    </div>
                    <div class="input_wrap">
                        <label for="newPassword">新密码<span>*</span></label>
                        <input type="password" name="newPassword" id="newPassword"/>
                        <span class="error"></span>
                    </div>
                    <div class="input_wrap">
                        <label for="confirm">确认密码<span>*</span></label>
                        <input type="password" name="confirm" id="confirm"/>
                        <span class="error"></span>
                    </div>
                </form>
                <div class="command">
                    <div class="button">提交</div>
                </div>
            </div>
        {% else %}
            <strong>无效id</strong>
        {% endif %}
        <div class="shadow_r"></div>
        <div class="shadow_b"></div>
    </div>
	<script src="/static/common/scripts/jquery-1.7.2.min.js"></script>
	<script src="/static/web/scripts/resetpassword.js"></script>
</body>
</html>